In [1]:
from sklearn.svm import SVC
import pandas as pd

data = pd.read_csv('first_task_data.csv', header=None)

In [5]:
y = data[data.columns[0]]
X = data[data.columns[1:]]

      1     2
0  0.70  0.29
1  0.23  0.55
2  0.72  0.42
3  0.98  0.68
4  0.48  0.39
5  0.34  0.73
6  0.44  0.06
7  0.40  0.74
8  0.18  0.18
9  0.53  0.53

In [6]:
X

      1     2
0  0.70  0.29
1  0.23  0.55
2  0.72  0.42
3  0.98  0.68
4  0.48  0.39
5  0.34  0.73
6  0.44  0.06
7  0.40  0.74
8  0.18  0.18
9  0.53  0.53

In [7]:
y

0    0.0
1    1.0
2    0.0
3    0.0
4    0.0
5    1.0
6    0.0
7    1.0
8    0.0
9    1.0
Name: 0, dtype: float64

In [13]:
clf = SVC(C = 100000, random_state=24, kernel='linear')
clf.fit(X, y)
clf.support_+1

array([ 4,  5, 10], dtype=int32)